.App {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.side-bar button .dropdown-item {
    color: white;
}

.side-bar button .dropdown-item:hover {
    color: black
}

.video {
    width:100%;
    height: 100%;
}